.divstyle11{
  clear: both;
}

.image1{

	width: 100%;
}
.products{
	margin-top: 30px;
	border: 1px solid #333;
	background-color: #f1f1f1;
	border-radius: 5px;
	padding: 15px;
	margin-bottom: 20px;
}

.table{
	margin: 0px auto;
	float: none;
}
.row{
	margin: 0px auto;
	float: none;
}
.centered{
	float: none;
	margin: 0 auto;
}
.button{
	background: #6394F8;
	color:white;
	text-align: center;
	padding: 12px;
	text-decoration: none;
	display: block;
	border-radius: 3px;
	font-size: 16px;
	margin: 25px 0 15px 0;
}
.button:visited{
	text-decoration: none;
	color: white;
}
.button:hover{
	background: #7fa9ff
	text-decoration: none;
	color: white;
}
.button:active{
	text-decoration: none;
	color: white;
}
.btn-danger{
	font-size: 12px;
	padding: 3px;
}
.btn-danger:hover{
	text-decoration: none;
}
a{
	text-decoration: none;
}
a:hover{
	text-decoration: none;
}
h3{
	margin-top :0px;
}


.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
  text-align: left;
}

.sidenav a {
  padding: 6px 6px 6px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 200px; /* Same as the width of the sidenav */
}

.topic1{
  float: left;
  margin-left: 250px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  font-size: 18pt;
  color: #ccffcc;
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 9px 14px;
  text-decoration: none;
}

.btn{
  margin-top: 8px;
  margin-top: 8px;
  color: #FFFFFF;
}
.col-sm-8{
  margin-top: 30px;
  margin-left: 300px;
  margin-right: auto;
  margin-bottom: auto;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}