body{background: linear-gradient(270deg, #b4cd42, #b5da88);
background-size: 400% 400%;

animation: AnimationName 46s ease infinite;
}

@keyframes AnimationName { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
  text-align: left;
}

.sidenav a {
  padding: 6px 6px 6px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 200px; /* Same as the width of the sidenav */
}

.topic1{
  float: left;
  margin-left: 250px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  font-size: 18pt;
  color: #ccffcc;
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 9px 14px;
  text-decoration: none;
}

.btn{
  color: #ccffcc;
}

.login-form {
      width: 340px;
      margin: 50px auto;
  }
    .login-form form {
      margin-bottom: 15px;
        background: grey;
        box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
        padding: 30px;
    }

    .my-1.mr-2{
      font-size: 20pt;
      color: #ccffcc;
    }

    .form-control, .btn {
        min-height: 38px;
        border-radius: 2px;
    }
    .btn  {        
        font-size: 15px;
        font-weight: thin;
    }

@import url('https://fonts.googleapis.com/css?family=Roboto');

body
{background: linear-gradient(144deg, #e0ff8b, #ffffff);
background-size: 1000% 1000%;

animation: AnimationName 30s ease infinite;
}

@keyframes AnimationName { 
    0%{background-position:5% 0%}
    50%{background-position:96% 100%}
    100%{background-position:5% 0%}
}

.signinup{
  font-size: 30pt;
  text-align: center;
  color: #e6ffe6;
  font-family: Roboto;
}

.main-section{
  margin: 0 auto;
  margin-top: 230px;
  padding: 0;
}
.modal-content {
  background-color: #696969;
  opacity: .9;
  padding: 0 18px;
  border-radius: 10px; 
}
.user-img img{
  height: 120px;
  width: 120px;
}

.user-img{
  margin-top: -60px;
  margin-bottom: 45px; 
}
.form-group{
  margin-bottom: 25px;
}

.form-input button{
  width: 40%;
  margin: 5px 0 25px;
}
.btn-success{
  background-color: #47d147;
  font-size: 19px;
  border-radius: 5px;
  padding: 7px 14px;
  border: 1px solid #daf1ff;
}
.btn-success:hover{
  background-color: #00cc00;
  border: 1px solid #daf1ff;
}

@font-face {
  font-family: 'roboto';
  src: url(font/roboto-Thin.ttf);
}

#errordisplay{
  /*margin-top: -20px;*/
  font-size:12px;
  color: #EE0019;
}

.custom-file-label{
  text-align: left;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
