@import url('https://fonts.googleapis.com/css?family=Roboto');

body
{background: linear-gradient(144deg, #e0ff8b, #ffffff);
background-size: 1000% 1000%;

animation: AnimationName 30s ease infinite;
}

@keyframes AnimationName { 
    0%{background-position:5% 0%}
    50%{background-position:96% 100%}
    100%{background-position:5% 0%}
}

.signinup{
	font-size: 30pt;
	text-align: center;
	color: #e6ffe6;
	font-family: Roboto;
}

.main-section{
	margin: 0 auto;
	margin-top: 230px;
	padding: 0;
}
.modal-content {
	background-color: #696969;
	opacity: .9;
	padding: 0 18px;
	border-radius: 10px; 
}
.user-img img{
	height: 120px;
	width: 120px;
}

.user-img{
	margin-top: -60px;
	margin-bottom: 45px; 
}
.form-group{
	margin-bottom: 25px;
}

.form-input button{
	width: 40%;
	margin: 5px 0 25px;
}
.btn-success{
	background-color: #47d147;
	font-size: 19px;
	border-radius: 5px;
	padding: 7px 14px;
	border: 1px solid #daf1ff;
}
.btn-success:hover{
	background-color: #00cc00;
	border: 1px solid #daf1ff;
}

@font-face {
	font-family: 'roboto';
	src: url(font/roboto-Thin.ttf);
}

#errordisplay{
	/*margin-top: -20px;*/
	font-size:12px;
	color: #EE0019;
}