html {
  scroll-behavior: smooth;
}

body{
	background: #f1f1f1;
	background-size: 400% 400%;	
}

.main{
	border: 0px solid #555;
	background-color: #ffffff;
	border-radius: 5px;
	padding: 15px;
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 50px;
	margin-bottom: 50px;
}


.headerimg{
		width: 100%;
		box-shadow: 0px 1px 30px black;

}

.companyname {
	width: 100%
	font:"Courier New";
	position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50pt;
  font-weight: thin;
  color: white;
}

.titlesay{
	width: 100%
	font-family:"Courier New";
	position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30pt;
  font-weight: thin;
  color: white;
}

hr.new1{
	width: 80%;
	border :5px solid lightgreen;
	border-radius:10px;

}

hr.new2{
	width: 95%;
	border :2px solid black;
	border-radius: 2px;

}

hr.new3{
	width: 50%;
	border :1px solid black;
	border-radius: 10px;

}


.buttonss .btn{
   position: absolute;
  transform: translate(-150%, -200%);
  color : #e6fff2;
  font-size: 20pt;
}

.buttonsss .btn{
   position: absolute;
  transform: translate(50%, -200%);
  color : #e6fff2;
  font-size: 20pt;

}

.button1 {
	width: 10%;
	height: 7%;
	border-color : #e6fff2;

}
.button1 {
	width: 10%;
	height: 7%;
	border-color : #e6fff2;

}

.aboutus{
	font-family: roboto;
	font-size: 40pt;
	text-align: center;
	font-weight: bold;

}

.col-sm-6 {
	margin-left: auto;
	margin-right: auto;
}

.contactss{
	font-family: roboto;
	font-size: 20pt;
	text-align: center;
	font-weight: bold;
}

.information{
	font-family: Roboto;
	font-size: 15pt;
	text-align: center;
}

@font-face {
	font-family: 'roboto';
	src: url(font/roboto-Thin.ttf);
}

@media only screen and (max-width: 768px){
html {
  scroll-behavior: smooth;
}

body{
	background: #f1f1f1;
	background-size: 400% 400%;	
}

.main{
	border: 0px solid #555;
	background-color: #ffffff;
	border-radius: 5px;
	padding: 15px;
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 50px;
	margin-bottom: 50px;
}


.headerimg{
		width: 100%;
		box-shadow: 0px 1px 30px black;

}

.companyname {
	width: 100%
	font:"Courier New";
	position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30pt;
  font-weight: thin;
  color: white;
}

.titlesay{
	width: 100%
	font-family:"Courier New";
	position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20pt;
  font-weight: thin;
  color: white;
}

hr.new1{
	width: 80%;
	border :5px solid lightgreen;
	border-radius:10px;

}

hr.new2{
	width: 95%;
	border :2px solid black;
	border-radius: 2px;

}

hr.new3{
	width: 50%;
	border :1px solid black;
	border-radius: 10px;

}

.buttonss .btn{
   position: absolute;
  transform: translate(-150%, 10%);
  color : #00b33c;
  font-size: 15pt;
}

.buttonsss .btn{
   position: absolute;
  transform: translate(50%, 10%);
  color : #00b33c;
  font-size: 15pt;

}

.button1.btn {
	width: 15%;
	height: 7%;
	border-color : #00b33c;

}
.button1.btn {
	width: 15%;
	height: 7%;
	border-color : #00b33c;
}

.button1.btn:hover{
	background-color: #66ff99;
}

.aboutus{
	font-family: roboto;
	font-size: 40pt;
	text-align: center;
	font-weight: bold;

}

.col-sm-6 {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.contactss{
	font-family: roboto;
	font-size: 20pt;
	text-align: center;
	font-weight: bold;
}

.information{
	font-family: "roboto";
	font-size: 15pt;
	text-align: center;
}

@font-face {
	font-family: 'roboto';
	src: url(font/roboto-Thin.ttf);
}

@font-face {
	font-family: 'print4u';
	src: url(font/PrintAble4U Regular ver 1.00.ttf);
}

@media only screen and (max-width: 500px){
html {
  scroll-behavior: smooth;
}

body{
	background: #f1f1f1;
	background-size: 400% 400%;	
}

.main{
	border: 0px solid #555;
	background-color: #ffffff;
	border-radius: 5px;
	padding: 15px;
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 50px;
	margin-bottom: 50px;
}


.headerimg{
		width: 100%;
		box-shadow: 0px 1px 30px black;

}

.companyname {
	width: 100%
	font:"Courier New";
	position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -250%);
  font-size: 15pt;
  font-weight: thin;
  color: white;
}

.titlesay{
	width: 100%
	font-family:"Courier New";
	position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -320%);
  font-size: 13pt;
  font-weight: thin;
  color: white;
}

hr.new1{
	width: 80%;
	border :5px solid lightgreen;
	border-radius:10px;

}

hr.new2{
	width: 95%;
	border :2px solid black;
	border-radius: 2px;

}

hr.new3{
	width: 50%;
	border :1px solid black;
	border-radius: 10px;

}

.buttonss .btn{
   position: absolute;
  transform: translate(-150%, 10%);
  color : #00b33c;
  font-size: 12pt;
}

.buttonsss .btn{
   position: absolute;
  transform: translate(50%, 10%);
  color : #00b33c;
  font-size: 12pt;
}

.button1.btn {
	width: 13%;
	height: 7%;
	border-color : #00b33c;

}
.button1.btn {
	width: 15%;
	height: 7%;
	border-color : #00b33c;
}

.button1.btn:hover{
	background-color: #66ff99;
}

.aboutus{
	font-family: roboto;
	font-size: 40pt;
	text-align: center;
	font-weight: bold;

}

.col-sm-6 {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.contactss{
	font-family: roboto;
	font-size: 20pt;
	text-align: center;
	font-weight: bold;
}

.information{
	font-family: "roboto";
	font-size: 15pt;
	text-align: center;
}

@font-face {
	font-family: 'roboto';
	src: url(font/roboto-Thin.ttf);
}

@font-face {
	font-family: 'print4u';
	src: url(font/PrintAble4U Regular ver 1.00.ttf);
}